<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.quantumwallet.tap-to-send</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>quantumwallet</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.nessieisreal.com</key>
			<dict>
				<key>NSCameraUsageDescription</key>
				<string>We need camera access to capture your INE identification document for verification during onboarding.</string>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_quantumtap._tcp</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:quantumwallet.app</string>
	</array>
</dict>
</plist>
